@import '../../App.all.scss';

.timerContainer {
  font-weight: bold;
  color: $red;
  text-align: center;
  background-color: $pink;
  padding: 12px;
  border-radius: 5px;
  background-image: url('../../../public/glass.svg');
  background-size: 20px 20px;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
