$text-font: 18px;
$line-height: 27px;
$title-font: 24px;
$subtitle-font: 20px;
$main-width: 1200px;
$red: #d4463f;
$pink: #f2dede;
$blue1: #6698ab;
$blue2: #3ca3f5;
$light-blue: #d9ebec;
$gray: #f3f3f3;
$green: #4caf50;