@import 'App.all.scss';

.homePageContainer {
  max-width: $main-width;
  margin: 0 auto;
  padding: 0 15px;
}

.headerContainer {
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
}

.headerTitleWrapper {
  font-size: $title-font;
  line-height: calc($title-font * 1.5);
  color: $red;
  font-weight: 400;
  margin: 0;
}

.mainTitle {
  font-size: $text-font;
  color: $red;
}

.controlsButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.text {
  font-size: $text-font;
  color: $red;
  font-weight: bold;
  text-align: center;
}
